.form {
  display: flex;
  flex-direction: column;

  padding: 20px;
  border: 1px solid #e4e9ee;
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10);

  @import '_margin/form_margin';
  @import '_z2/form_z2';
  @import '_z3/form_z3';
}