&__title {
  display: flex;
  align-items: flex-start;

  padding: 0 10px 10px 0;

  color: #a7b2c1;

  @import '_black/info__title_black';
  @import '_p30px/info__title_p30px';
  @import '_header/info__title_header';
}