body {
  display: flex;
  justify-content: flex-start;

  padding: 80px 100px;

  background-color: #101114;

  font-family: Helvetica, Arial, sans-serif;
}

.block {
  display: flex;

  justify-content: flex-start;

  padding: 40px 15px 40px 15px;
}

.list {
  display: flex;
  flex-direction: row;

  margin-top: 10px;

  &__input {
    margin-right: 10px;
  }
  &__select {
    display: flex;

    padding: 3px;
    background: radial-gradient(#e8f3f5, #83c6d3);

    outline-style: none;
    border: 1px solid rgba(137, 137, 137, 0.64);
    border-radius: 3px;
  }
}