@import './components/common';
@import './components/menu/menu';
@import './components/info/info';
@import './components/button/button';
@import './components/card/card';
@import './components/input/input';

@media screen and (max-width: 1000px) {

  body {
    padding: 10px;
  }

  .menu__item-link {
    margin-right: 0;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 5px 10px 60px;
  }
  .info__title_big {
    font-weight: normal;
    font-size: 20px;
  }

  .info__title_padding_xl {
    padding: 30px 0 30px 40px;
  }
}

@media screen and (max-width: 768px) {

  body {
    flex-direction: column;
    padding: 10px 20px;
  }

  .menu {
    margin-right: 0;
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    min-width: 430px;
  }

  .menu__item {
    display: flex;
  }

  .menu__item-link {
    margin-right: 0;
    font-size: 18px;
    padding: 0;
  }

  .info_more {
    display: none;
  }

  .input_display {
    display: flex;
  }

  .card.card_margin_l.card_slip {
    display: none;
  }

  .cards {
    padding-left: 20px;
  }

  .info.info__width_min {
    min-width: 430px;
  }
}